/*.error{ color: red; }*/
.error{color: red;}
.dt-buttons{ float: right !important; margin: 0 0 0 20px; }
.dt-buttons a:nth-child(2){display: none}
.dt-buttons a:nth-child(3){display: none}
/*.buttons-excel::before { Content: 'Download as ' }
.buttons-csv::before { Content: 'Download as ' }
.buttons-pdf::before { Content: 'Download as ' }
*/#report_container{
/*	width: 100%;
	overflow-x: scroll;*/

/*	height: 800px !important;
	overflow-y: scroll !important;
*/
}	
.float-right{
	float: right;
}	
.FilterSection{
    overflow: visible !important;
}
.dataTables_info, .pagination {
	display: none !important;
}

/* dropdown css */

/*#select2-demo-1{
	width: 30%;
}*/